API_Examples/ProfilesRNSBetaAPI/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Griffin Weber (Harvard Medical School) -->
<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://connects.profiles.schema/profiles/personlist" targetNamespace="http://connects.profiles.schema/profiles/personlist">
	<xs:simpleType name="ST_SimilarPerson">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_InternalID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_PersonFilter">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Neighbor">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Keyword">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_EmailImageUrl">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_CoAuthor">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_FacultyType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_AcademicRank">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="PersonList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Person" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TotalCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ThisCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="QueryID">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Complete" type="xs:boolean" use="required"/>
			<xs:attribute name="Version">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Telephone">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SimilarPersonList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SimilarPerson" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TotalSimilarPeopleCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SimilarPerson">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SimilarPerson">
					<xs:attribute name="PersonID" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CoAuthor" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationSourceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicationSource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationSource">
		<xs:complexType>
			<xs:attribute name="URL">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Primary" type="xs:boolean" use="required"/>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationReference" type="xs:string"/>
	<xs:element name="PublicationMatchDetailList" type="xs:string"/>
	<xs:element name="PublicationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Publication" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Visible" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PublicationCount">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatchScore" type="xs:decimal"/>
	<xs:element name="Publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicationID"/>
				<xs:element ref="PublicationReference"/>
				<xs:element ref="PublicationMatchDetailList" minOccurs="0"/>
				<xs:element ref="PublicationSourceList"/>
			</xs:sequence>
			<xs:attribute name="CustomCategory">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type"/>
			<xs:attribute name="Visible"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfileURL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute name="Visible" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhotoUrl">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute name="Visible" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcademicRank">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AcademicRank">
					<xs:attribute name="AcademicRankSort" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonID" type="xs:string"/>
	<xs:element name="PersonFilterList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonFilter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonFilter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_PersonFilter">
					<xs:attribute name="Category" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="InternalIDList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InternalID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InternalID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_InternalID">
					<xs:attribute name="Name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InternalIDList" minOccurs="0"/>
				<xs:element ref="PersonID"/>
				<xs:element ref="Name"/>
				<xs:element ref="Address"/>
				<xs:element ref="PersonFilterList" minOccurs="0"/>
				<xs:element ref="AffiliationList" minOccurs="0"/>
				<xs:element ref="AcademicRank" minOccurs="0"/>
				<xs:element ref="ProfileURL" minOccurs="0"/>
				<xs:element ref="BasicStatistics"/>
				<xs:element ref="EmailImageUrl" minOccurs="0"/>
				<xs:element ref="PhotoUrl" minOccurs="0"/>
				<xs:element ref="AwardList" minOccurs="0"/>
				<xs:element ref="Narrative" minOccurs="0"/>
				<xs:element ref="PublicationList" minOccurs="0"/>
				<xs:element ref="PassiveNetworks" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Visible" type="xs:boolean"/>
			<xs:attribute name="QueryRelevance" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PassiveNetworks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="KeywordList" minOccurs="0"/>
				<xs:element ref="SimilarPersonList" minOccurs="0"/>
				<xs:element ref="CoAuthorList" minOccurs="0"/>
				<xs:element ref="NeighborList" minOccurs="0"/>
				<xs:element ref="DepartmentPersonList" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NeighborList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Neighbor" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Neighbor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Neighbor">
					<xs:attribute name="PersonID" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Narrative">
		<xs:complexType mixed="true">
			<xs:attribute name="Visible" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FullName"/>
				<xs:element ref="FirstName"/>
				<xs:element ref="LastName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MatchingPublicationCount" type="xs:int"/>
	<xs:element name="Longitude">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Latitude">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LastName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="KeywordList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TotalKeywordCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Keyword">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Keyword">
					<xs:attribute name="Weight">
						<xs:simpleType>
							<xs:restriction base="xs:decimal"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TotalPubCount">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="KeywordPubCount" type="xs:int"/>
					<xs:attribute name="WeightCategory" type="xs:int" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobTitle">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstitutionName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstitutionAbbreviation">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FullName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FirstName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Fax">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FacultyType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_FacultyType">
					<xs:attribute name="FacultyTypeSort">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailImageUrl">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_EmailImageUrl">
					<xs:attribute name="Visible" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DivisionName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepartmentPersonList">
		<xs:complexType>
			<xs:attribute name="TotalDepartmentPersonCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepartmentName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CoAuthorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CoAuthor" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TotalCoAuthorCount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoAuthor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_CoAuthor">
					<xs:attribute name="PersonID" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Institution" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BasicStatistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicationCount"/>
				<xs:element ref="MatchingPublicationCount"/>
				<xs:element ref="MatchScore" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Visible" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AwardStartYear">
		<xs:simpleType>
			<xs:restriction base="xs:short"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AwardName" type="xs:string"/>
	<xs:element name="AwardList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Award" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Visible" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AwardInstitution_Fullname">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AwardId">
		<xs:simpleType>
			<xs:restriction base="xs:short"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AwardEndYear">
		<xs:simpleType>
			<xs:restriction base="xs:short"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Award">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AwardId" minOccurs="0"/>
				<xs:element ref="AwardStartYear" minOccurs="0"/>
				<xs:element ref="AwardEndYear" minOccurs="0"/>
				<xs:element ref="AwardName" minOccurs="0"/>
				<xs:element ref="AwardInstitution_Fullname" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AffiliationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Affiliation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Visible" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AffiliationID">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Affiliation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AffiliationID" minOccurs="0"/>
				<xs:element ref="InstitutionAbbreviation" minOccurs="0"/>
				<xs:element ref="InstitutionName" minOccurs="0"/>
				<xs:element ref="DepartmentName" minOccurs="0"/>
				<xs:element ref="DivisionName" minOccurs="0"/>
				<xs:element ref="JobTitle"/>
				<xs:element ref="FacultyType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Primary" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address4">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address3">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address1"/>
				<xs:element ref="Address2"/>
				<xs:element ref="Address3"/>
				<xs:element ref="Address4"/>
				<xs:element ref="Telephone"/>
				<xs:element ref="Fax" minOccurs="0"/>
				<xs:element ref="Latitude" minOccurs="0"/>
				<xs:element ref="Longitude" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
